<% include ./layouts/headerAdmin.ejs %>

<div class="m-4">
    <button type="button" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
        aria-expanded="false" aria-controls="collapseWidthExample">Agregar Grupo</button>
    <br>
    <br>
    <div>
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card">
                <div class="card-body">
                    <form action="/grupos/create" method="POST">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nombre grupo</span>
                            <input type="text" class="form-control" name="nombre_grupo">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody id="contenido">

            <script>

        $.ajax({
            "url"      : "http://localhost:3000/grupos/grupos",
            "type"     : "get",
            success: (data) => {
                if(data !== null){
                    mierda = data;

                    data.map((grupo,index)=>{
                        document.getElementById('contenido').innerHTML +=`            <tr>
                <td>${grupo.nombre_grupo}</td>
                <td>
                    <button type="button" class="btn btn-info" onclick="abrirModal(${index});">
                    Alumnos
                </button>
                </td>
                <td>
                    <button class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#exampleModal-${ grupo._id }">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </button>
                    <a href="grupos/delete/${ grupo._id }?_method=DELETE" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal-${grupo._id}" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">${ grupo.nombre}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                            <div class="modal-body">
                                <form action="grupos/edit/${ grupo._id }?_method=PUT" method="POST">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                                        <input type="text" class="form-control" value="${ grupo.nombre }" name="nombre_grupo">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                       
                    </div>
                </div>
            </div>`;
                    });
                }//IF del success
            },
            error: (err) => {
                //console.log(err);
            }
            
        });
            </script>
        </tbody>
    </table>
</div>

<div id="modal" ></div>

<script>
    function abrirModal(index){
        document.getElementById("overlay").style.visibility = "visible";
        document.getElementById('nombreGrupo').innerHTML =`${mierda[index].nombre_grupo}`;


        mierda[index].id_alumno.map((alumno,index)=>{
            document.getElementById('datosAlumnos').innerHTML += `<tr>
                    <td>${alumno.nombre}</td>
                    <td>${alumno.apellidos}</td>
                  </tr>`;
        });
    }

    function ventanaModalCerrar(){
        document.getElementById("overlay").style.visibility = "hidden";
        document.getElementById('datosAlumnos').innerHTML = ``;
    }


    document.getElementById('modal').innerHTML = 
                    `
                    <!-- The Modal -->
<div class="overlay" id="overlay">
    <div class="popup" style="
    width: 90%; 
    height: 90%; 
    ">
            <a href="#" onclick="ventanaModalCerrar();"class="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <h3 id="nombreGrupo">Historial de gasto de gasolina</h3>

        <div class="contenido_popup">
            <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apelido</th>
                  </tr>
                </thead>
                <tbody id="datosAlumnos">
                </tbody>
              </table>
                
        </div>

    </div><!--fin del popup-->
</div>
                    `;


</script>




<% include ./layouts/footer.ejs %>