<% include layouts/headerAdmin.ejs %>

<link rel="stylesheet" media="all" href="stylesheets/cardsIndex.css" />

<div class="cards-list">

    <a href="/alumnos" class="card 1">
        <div class="card_image"> <img src="images/students.jpg" /> </div>
        <div class="card_title title-white">
            <p>Alumnos</p>
        </div>
    </a>

    <a href="/alumnos" class="card 2">
        <div class="card_image">
            <img src="images/teachers.jpg" />
        </div>
        <div class="card_title title-white">
            <p>Maestros</p>
        </div>
    </a>

    <a href="/alumnos" class="card 3">
        <div class="card_image">
            <img src="images/group.jpg" />
        </div>
        <div class="card_title title-white">
            <p>Grupos</p>
        </div>
    </a>


</div>
<% include layouts/footer.ejs %>